.elementor-7210
  .elementor-element.elementor-element-aaa132d
  > .elementor-container {
  min-height: 400px;
}
.elementor-7210
  .elementor-element.elementor-element-aaa132d
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-7210
  .elementor-element.elementor-element-aaa132d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7210
  .elementor-element.elementor-element-aaa132d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #e85c0d;
  background-image: url("../../../../2024-2015/headerImages/Building Approval_Permission Work.png");
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* padding-top: 20%; */
}
.elementor-7210
  .elementor-element.elementor-element-aaa132d
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7210 .elementor-element.elementor-element-aaa132d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-7210
  .elementor-element.elementor-element-08bc75d
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-7210 .elementor-element.elementor-element-08bc75d {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-bc-flex-widget
  .elementor-7210
  .elementor-element.elementor-element-6803769.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-7210
  .elementor-element.elementor-element-6803769.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-7210
  .elementor-element.elementor-element-c280fd4
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 65px;
  font-weight: 700;
}
.elementor-7210
  .elementor-element.elementor-element-c280fd4
  > .elementor-widget-container {
  padding: 5px 5px 5px 5px;
}
.elementor-7210 .elementor-element.elementor-element-04f4d80 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-7210
  .elementor-element.elementor-element-13e47e1:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-7210
  .elementor-element.elementor-element-13e47e1
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #e85c0d;
}
.elementor-7210
  .elementor-element.elementor-element-13e47e1
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 100px 100px 100px 100px;
}
.elementor-7210
  .elementor-element.elementor-element-13e47e1
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7210 .elementor-element.elementor-element-4449e4c {
  text-align: left;
  color: #000;
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.elementor-7210
  .elementor-element.elementor-element-8ee0553
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-7210
  .elementor-element.elementor-element-8ee0553
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7210 .elementor-element.elementor-element-4a6b547 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-7210
  .elementor-element.elementor-element-9441f67
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-7210
  .elementor-element.elementor-element-9441f67
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7210
  .elementor-element.elementor-element-aae70db:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-7210
  .elementor-element.elementor-element-aae70db
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #e85c0d;
}
.elementor-7210
  .elementor-element.elementor-element-aae70db
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 50px 50px 50px 50px;
}
.elementor-7210
  .elementor-element.elementor-element-aae70db
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7210
  .elementor-element.elementor-element-a6b7928
  .elementor-heading-title {
  color: #fff;
  font-family: "Poppins", Sans-serif;
  font-size: 50px;
  font-weight: 700;
}
.elementor-7210
  .elementor-element.elementor-element-a6b7928
  > .elementor-widget-container {
  padding: 5px 5px 5px 5px;
}
.elementor-7210 .elementor-element.elementor-element-02871fc {
  text-align: left;
  color: #fff;
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.elementor-7210 .elementor-element.elementor-element-be05b32 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-7210
  .elementor-element.elementor-element-ae98efa:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-7210
  .elementor-element.elementor-element-ae98efa
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #e85c0d;
}
.elementor-7210
  .elementor-element.elementor-element-ae98efa
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 50px 50px 50px 50px;
}
.elementor-7210
  .elementor-element.elementor-element-ae98efa
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7210
  .elementor-element.elementor-element-0e32ecc
  .elementor-heading-title {
  color: #fff;
  font-family: "Poppins", Sans-serif;
  font-size: 50px;
  font-weight: 700;
}
.elementor-7210
  .elementor-element.elementor-element-0e32ecc
  > .elementor-widget-container {
  padding: 5px 5px 5px 5px;
}
.elementor-7210 .elementor-element.elementor-element-f5ec14a {
  text-align: left;
  color: #fff;
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.elementor-7210
  .elementor-element.elementor-element-c54b9af
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-7210
  .elementor-element.elementor-element-c54b9af
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7210 .elementor-element.elementor-element-5aa3f35 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-7210
  .elementor-element.elementor-element-53cc213
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-7210
  .elementor-element.elementor-element-53cc213
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7210
  .elementor-element.elementor-element-d9c0f42:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-7210
  .elementor-element.elementor-element-d9c0f42
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #e85c0d;
}
.elementor-7210
  .elementor-element.elementor-element-d9c0f42
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 50px 50px 50px 50px;
}
.elementor-7210
  .elementor-element.elementor-element-d9c0f42
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7210
  .elementor-element.elementor-element-9aa9b23
  .elementor-heading-title {
  color: #fff;
  font-family: "Poppins", Sans-serif;
  font-size: 50px;
  font-weight: 700;
}
.elementor-7210
  .elementor-element.elementor-element-9aa9b23
  > .elementor-widget-container {
  padding: 5px 5px 5px 5px;
}
.elementor-7210 .elementor-element.elementor-element-1f1c70d {
  text-align: left;
  color: #fff;
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.elementor-7210 .elementor-element.elementor-element-0f85ca9 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-7210
  .elementor-element.elementor-element-68f0e11:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-7210
  .elementor-element.elementor-element-68f0e11
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #e85c0d;
}
.elementor-7210
  .elementor-element.elementor-element-68f0e11
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 50px 50px 50px 50px;
}
.elementor-7210
  .elementor-element.elementor-element-68f0e11
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7210
  .elementor-element.elementor-element-2e4ba95
  .elementor-heading-title {
  color: #fff;
  font-family: "Poppins", Sans-serif;
  font-size: 50px;
  font-weight: 700;
}
.elementor-7210
  .elementor-element.elementor-element-2e4ba95
  > .elementor-widget-container {
  padding: 5px 5px 5px 5px;
}
.elementor-7210 .elementor-element.elementor-element-c23e8b0 {
  text-align: left;
  color: #fff;
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.elementor-7210
  .elementor-element.elementor-element-e8093cc
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-7210
  .elementor-element.elementor-element-e8093cc
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7210
  .elementor-element.elementor-element-c8ca83c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7210
  .elementor-element.elementor-element-c8ca83c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../../2024-2015/footerImages/BuildingApproval_PermissionWork.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-7210
  .elementor-element.elementor-element-c8ca83c
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7210 .elementor-element.elementor-element-c8ca83c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}
.elementor-7210
  .elementor-element.elementor-element-9056783:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7210
  .elementor-element.elementor-element-9056783
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #eeeff100;
}
.elementor-7210
  .elementor-element.elementor-element-9056783
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7210 .elementor-element.elementor-element-9056783 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 50px 0px;
}
.elementor-7210 .elementor-element.elementor-element-2520685 .elementor-button {
  fill: #ffffff;
  color: #ffffff;
  background-color: #61ce7000;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 100px 100px 100px 100px;
}
.elementor-7210
  .elementor-element.elementor-element-2520685
  .elementor-button:hover,
.elementor-7210
  .elementor-element.elementor-element-2520685
  .elementor-button:focus {
  color: #000;
  background-color: #e85c0d;
  border-color: #e85c0d;
}
.elementor-7210
  .elementor-element.elementor-element-2520685
  .elementor-button:hover
  svg,
.elementor-7210
  .elementor-element.elementor-element-2520685
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-7210 .elementor-element.elementor-element-645d194 .elementor-button {
  fill: #ffffff;
  color: #ffffff;
  background-color: #61ce7000;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 100px 100px 100px 100px;
}
.elementor-7210
  .elementor-element.elementor-element-645d194
  .elementor-button:hover,
.elementor-7210
  .elementor-element.elementor-element-645d194
  .elementor-button:focus {
  color: #000;
  background-color: #e85c0d;
  border-color: #e85c0d;
}
.elementor-7210
  .elementor-element.elementor-element-645d194
  .elementor-button:hover
  svg,
.elementor-7210
  .elementor-element.elementor-element-645d194
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
:root {
  --page-title-display: none;
}
@media (max-width: 1024px) {
  .elementor-7210
    .elementor-element.elementor-element-c8ca83c:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-7210
    .elementor-element.elementor-element-c8ca83c
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px 0px;
  }
}
@media (min-width: 1025px) {
  .elementor-7210
    .elementor-element.elementor-element-aaa132d:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-7210
    .elementor-element.elementor-element-aaa132d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
}
@media (max-width: 767px) {
  .elementor-7210 .elementor-element.elementor-element-aaa132d {
    padding: 40px 10px 40px 10px;
  }
  .elementor-7210
    .elementor-element.elementor-element-c8ca83c:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-7210
    .elementor-element.elementor-element-c8ca83c
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px 0px;
  }
}
