.elementor-14291
  .elementor-element.elementor-element-aaa132d
  > .elementor-container {
  min-height: 400px;
}
.elementor-14291
  .elementor-element.elementor-element-aaa132d
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-14291
  .elementor-element.elementor-element-aaa132d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-14291
  .elementor-element.elementor-element-aaa132d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #E85C0D;
  background-image: url("../../../../2024-2015/Home/images/Apartments/1-ArcadeeElevation.JPG");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-14291
  .elementor-element.elementor-element-aaa132d
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.4;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-14291 .elementor-element.elementor-element-aaa132d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-14291
  .elementor-element.elementor-element-08bc75d
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-14291 .elementor-element.elementor-element-08bc75d {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-bc-flex-widget
  .elementor-14291
  .elementor-element.elementor-element-6803769.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-14291
  .elementor-element.elementor-element-6803769.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-14291
  .elementor-element.elementor-element-c280fd4
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 31px;
  font-weight: 700;
}
.elementor-14291
  .elementor-element.elementor-element-c280fd4
  > .elementor-widget-container {
  padding: 5px 5px 5px 5px;
}
.elementor-14291 .elementor-element.elementor-element-04f4d80 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-14291
  .elementor-element.elementor-element-13e47e1.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-14291
  .elementor-element.elementor-element-13e47e1.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-14291
  .elementor-element.elementor-element-13e47e1:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-14291
  .elementor-element.elementor-element-13e47e1
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #E85C0D;
}
.elementor-14291
  .elementor-element.elementor-element-13e47e1
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 50px 50px 50px 50px;
}
.elementor-14291
  .elementor-element.elementor-element-13e47e1
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-14291 .elementor-element.elementor-element-4449e4c {
  text-align: justify;
  color: #000;
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.elementor-14291
  .elementor-element.elementor-element-3625570:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-14291
  .elementor-element.elementor-element-3625570
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
  background-image: url("../../2024/06/65f1bef3-f1b6-48df-8d45-dee41c629819-e1717503960771.jpeg");
  background-position: center center;
  background-size: cover;
}
.elementor-14291
  .elementor-element.elementor-element-3625570
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-14291
  .elementor-element.elementor-element-3625570
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-14291
  .elementor-element.elementor-element-c8ca83c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-14291
  .elementor-element.elementor-element-c8ca83c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../../2024-2015/Home/images/Apartments/1-ArcadeeElevation.JPG");
  background-position: 0px -480px;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-14291
  .elementor-element.elementor-element-c8ca83c
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-14291 .elementor-element.elementor-element-c8ca83c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}
.elementor-14291
  .elementor-element.elementor-element-9056783:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-14291
  .elementor-element.elementor-element-9056783
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #eeeff100;
}
.elementor-14291
  .elementor-element.elementor-element-9056783
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-14291 .elementor-element.elementor-element-9056783 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 50px 0px;
}
.elementor-14291
  .elementor-element.elementor-element-2520685
  .elementor-button {
  fill: #ffffff;
  color: #ffffff;
  background-color: #61ce7000;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 100px 100px 100px 100px;
}
.elementor-14291
  .elementor-element.elementor-element-2520685
  .elementor-button:hover,
.elementor-14291
  .elementor-element.elementor-element-2520685
  .elementor-button:focus {
  color: #000;
  background-color: #E85C0D;
  border-color: #E85C0D;
}
.elementor-14291
  .elementor-element.elementor-element-2520685
  .elementor-button:hover
  svg,
.elementor-14291
  .elementor-element.elementor-element-2520685
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-14291
  .elementor-element.elementor-element-645d194
  .elementor-button {
  fill: #ffffff;
  color: #ffffff;
  background-color: #61ce7000;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 100px 100px 100px 100px;
}
.elementor-14291
  .elementor-element.elementor-element-645d194
  .elementor-button:hover,
.elementor-14291
  .elementor-element.elementor-element-645d194
  .elementor-button:focus {
  color: #000;
  background-color: #E85C0D;
  border-color: #E85C0D;
}
.elementor-14291
  .elementor-element.elementor-element-645d194
  .elementor-button:hover
  svg,
.elementor-14291
  .elementor-element.elementor-element-645d194
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
:root {
  --page-title-display: none;
}
@media (max-width: 1024px) {
  .elementor-14291
    .elementor-element.elementor-element-c8ca83c:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-14291
    .elementor-element.elementor-element-c8ca83c
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-14291 .elementor-element.elementor-element-aaa132d {
    padding: 40px 10px 40px 10px;
  }
  .elementor-14291
    .elementor-element.elementor-element-c8ca83c:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-14291
    .elementor-element.elementor-element-c8ca83c
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px 0px;
  }
}
@media (min-width: 768px) {
  .elementor-14291 .elementor-element.elementor-element-6803769 {
    width: 82.98%;
  }
  .elementor-14291 .elementor-element.elementor-element-bf78b46 {
    width: 16.934%;
  }
}
@media (min-width: 1025px) {
  .elementor-14291
    .elementor-element.elementor-element-aaa132d:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-14291
    .elementor-element.elementor-element-aaa132d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
}
