.elementor-8792
  .elementor-element.elementor-element-aaa132d
  > .elementor-container {
  min-height: 400px;
}
.elementor-8792
  .elementor-element.elementor-element-aaa132d
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-8792
  .elementor-element.elementor-element-aaa132d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8792
  .elementor-element.elementor-element-aaa132d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #315178;
  background-image: url("../../../../2024-2015/headerImages/Career.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-8792
  .elementor-element.elementor-element-aaa132d
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8792 .elementor-element.elementor-element-aaa132d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-8792
  .elementor-element.elementor-element-08bc75d
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-8792 .elementor-element.elementor-element-08bc75d {
  margin-top: 70px;
  margin-bottom: 0px;
}
.elementor-bc-flex-widget
  .elementor-8792
  .elementor-element.elementor-element-6803769.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-8792
  .elementor-element.elementor-element-6803769.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-8792 .elementor-element.elementor-element-276b005 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-8792
  .elementor-element.elementor-element-3a5e9dc
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-8792
  .elementor-element.elementor-element-4376dd8
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-8792 .elementor-element.elementor-element-4376dd8 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-8792
  .elementor-element.elementor-element-484f82b.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-8792
  .elementor-element.elementor-element-484f82b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-8792
  .elementor-element.elementor-element-484f82b.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-8792
  .elementor-element.elementor-element-484f82b:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-8792
  .elementor-element.elementor-element-484f82b
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #E85C0D;
}
.elementor-8792
  .elementor-element.elementor-element-484f82b
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 100px 100px 100px 100px;
}
.elementor-8792
  .elementor-element.elementor-element-484f82b
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8792 .elementor-element.elementor-element-f6e7bbf {
  text-align: left;
}
.elementor-8792
  .elementor-element.elementor-element-f6e7bbf
  .elementor-heading-title {
  color: #000;
  font-family: "Poppins", Sans-serif;
  font-size: 58px;
  font-weight: 600;
}
.elementor-8792 .elementor-element.elementor-element-cec208e {
  text-align: left;
  color: #000;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 0px;
}
.elementor-8792
  .elementor-element.elementor-element-e7d6098
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-8792
  .elementor-element.elementor-element-e7d6098
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8792
  .elementor-element.elementor-element-39d33aa
  .elementor-heading-title {
  color: #000;
  font-family: "Poppins", Sans-serif;
  font-size: 57px;
  font-weight: 600;
}
.elementor-8792
  .elementor-element.elementor-element-806e231:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8792
  .elementor-element.elementor-element-806e231
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f2f2f2;
}
.elementor-8792 .elementor-element.elementor-element-806e231 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px 100px 100px 100px;
}
.elementor-8792
  .elementor-element.elementor-element-806e231
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8792
  .elementor-element.elementor-element-48bbc2d
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-8792
  .elementor-element.elementor-element-7a771f9:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8792
  .elementor-element.elementor-element-7a771f9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #E85C0D;
}
.elementor-8792 .elementor-element.elementor-element-7a771f9 {
  --background-transition: 0.3s;
  --padding-top: 50px;
  --padding-right: 50px;
  --padding-bottom: 50px;
  --padding-left: 50px;
}
.elementor-8792 .elementor-element.elementor-element-7a771f9,
.elementor-8792 .elementor-element.elementor-element-7a771f9::before {
  --border-transition: 0.3s;
}
.elementor-8792
  .elementor-element.elementor-element-ae1770f
  .elementor-heading-title {
  color: #000;
}
.elementor-8792 .elementor-element.elementor-element-7f3bf79 {
  color: #000;
}
.elementor-8792
  .elementor-element.elementor-element-7f3bf79
  > .elementor-widget-container {
  padding: 5px 5px 5px 5px;
}
.elementor-8792
  .elementor-element.elementor-element-4a6fb69:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8792
  .elementor-element.elementor-element-4a6fb69
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../../2024-2015/footerImages/Career.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-8792
  .elementor-element.elementor-element-4a6fb69
  > .elementor-background-overlay {
  background-color: #082e5c;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8792 .elementor-element.elementor-element-4a6fb69 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}
.elementor-8792
  .elementor-element.elementor-element-b2209b7:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8792
  .elementor-element.elementor-element-b2209b7
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #eeeff100;
}
.elementor-8792
  .elementor-element.elementor-element-b2209b7
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8792 .elementor-element.elementor-element-b2209b7 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 50px 0px;
}
.elementor-8792 .elementor-element.elementor-element-0b816b6 .elementor-button {
  fill: #ffffff;
  color: #ffffff;
  background-color: #61ce7000;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 100px 100px 100px 100px;
}
.elementor-8792
  .elementor-element.elementor-element-0b816b6
  .elementor-button:hover,
.elementor-8792
  .elementor-element.elementor-element-0b816b6
  .elementor-button:focus {
  color: #000;
  background-color: #E85C0D;
  border-color: #E85C0D;
}
.elementor-8792
  .elementor-element.elementor-element-0b816b6
  .elementor-button:hover
  svg,
.elementor-8792
  .elementor-element.elementor-element-0b816b6
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-8792 .elementor-element.elementor-element-e512e19 .elementor-button {
  fill: #ffffff;
  color: #ffffff;
  background-color: #61ce7000;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 100px 100px 100px 100px;
}
.elementor-8792
  .elementor-element.elementor-element-e512e19
  .elementor-button:hover,
.elementor-8792
  .elementor-element.elementor-element-e512e19
  .elementor-button:focus {
  color: #000;
  background-color: #E85C0D;
  border-color: #E85C0D;
}
.elementor-8792
  .elementor-element.elementor-element-e512e19
  .elementor-button:hover
  svg,
.elementor-8792
  .elementor-element.elementor-element-e512e19
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
@media (min-width: 1025px) {
  .elementor-8792
    .elementor-element.elementor-element-aaa132d:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-8792
    .elementor-element.elementor-element-aaa132d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
}
@media (max-width: 1024px) {
  .elementor-8792
    .elementor-element.elementor-element-aaa132d:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-8792
    .elementor-element.elementor-element-aaa132d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-8792
    .elementor-element.elementor-element-aaa132d:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-8792
    .elementor-element.elementor-element-aaa132d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px 0px;
  }
  .elementor-8792 .elementor-element.elementor-element-aaa132d {
    padding: 40px 10px 40px 10px;
  }
  .elementor-8792 .elementor-element.elementor-element-4376dd8 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .elementor-8792
    .elementor-element.elementor-element-484f82b
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-8792 .elementor-element.elementor-element-f6e7bbf {
    text-align: left;
  }
  .elementor-8792
    .elementor-element.elementor-element-f6e7bbf
    .elementor-heading-title {
    font-size: 42px;
  }
  .elementor-8792
    .elementor-element.elementor-element-f6e7bbf
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-8792
    .elementor-element.elementor-element-e7d6098
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-8792
    .elementor-element.elementor-element-39d33aa
    .elementor-heading-title {
    font-size: 32px;
    line-height: 38px;
  }
} /* Start custom CSS for column, class: .elementor-element-e7d6098 */
.min-height {
  min-height: 250px;
} /* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-2988faf */
.awsm-grid-item .awsm-job-item {
  color: #000;
} /* End custom CSS */
