.elementor-9615
  .elementor-element.elementor-element-aaa132d
  > .elementor-container {
  min-height: 400px;
}
.elementor-9615
  .elementor-element.elementor-element-aaa132d
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-9615
  .elementor-element.elementor-element-aaa132d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-9615
  .elementor-element.elementor-element-aaa132d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #E85C0D;
  background-image: url("../../../../2024-2015/Home/images/4-Adura-vivid.jpg");
  background-position: 0px -330px;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-9615
  .elementor-element.elementor-element-aaa132d
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.4;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9615 .elementor-element.elementor-element-aaa132d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-9615
  .elementor-element.elementor-element-08bc75d
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-9615 .elementor-element.elementor-element-08bc75d {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-bc-flex-widget
  .elementor-9615
  .elementor-element.elementor-element-6803769.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-9615
  .elementor-element.elementor-element-6803769.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-9615
  .elementor-element.elementor-element-c280fd4
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 31px;
  font-weight: 700;
}
.elementor-9615
  .elementor-element.elementor-element-c280fd4
  > .elementor-widget-container {
  padding: 5px 5px 5px 5px;
}
.elementor-9615 .elementor-element.elementor-element-04f4d80 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-9615
  .elementor-element.elementor-element-13e47e1.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-9615
  .elementor-element.elementor-element-13e47e1.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-9615
  .elementor-element.elementor-element-13e47e1:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-9615
  .elementor-element.elementor-element-13e47e1
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #E85C0D;
}
.elementor-9615
  .elementor-element.elementor-element-13e47e1
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 50px 50px 50px 50px;
}
.elementor-9615
  .elementor-element.elementor-element-13e47e1
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9615 .elementor-element.elementor-element-4449e4c {
  text-align: justify;
  color: #000;
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.elementor-9615
  .elementor-element.elementor-element-3625570:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-9615
  .elementor-element.elementor-element-3625570
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #E85C0D;
}
.elementor-9615
  .elementor-element.elementor-element-3625570
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-9615
  .elementor-element.elementor-element-3625570
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9615
  .elementor-element.elementor-element-a8506bd
  .elementor-wrapper {
  aspect-ratio: 16 / 9;
}
.elementor-9615 .elementor-element.elementor-element-33b613f {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-9615
  .elementor-element.elementor-element-b79d23b:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-9615
  .elementor-element.elementor-element-b79d23b
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #E85C0D;
}
.elementor-9615
  .elementor-element.elementor-element-b79d23b
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-9615
  .elementor-element.elementor-element-b79d23b
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9615
  .elementor-element.elementor-element-9258e92
  .elementor-wrapper {
  aspect-ratio: 16 / 9;
}
.elementor-9615
  .elementor-element.elementor-element-10686e7:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-9615
  .elementor-element.elementor-element-10686e7
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #E85C0D;
}
.elementor-9615
  .elementor-element.elementor-element-10686e7
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-9615
  .elementor-element.elementor-element-10686e7
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9615
  .elementor-element.elementor-element-bf1bc6a
  .elementor-wrapper {
  aspect-ratio: 16 / 9;
}
.elementor-9615 .elementor-element.elementor-element-d789a70 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-9615
  .elementor-element.elementor-element-7c24888:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-9615
  .elementor-element.elementor-element-7c24888
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #E85C0D;
}
.elementor-9615
  .elementor-element.elementor-element-7c24888
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-9615
  .elementor-element.elementor-element-7c24888
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9615
  .elementor-element.elementor-element-274bec4
  .elementor-wrapper {
  aspect-ratio: 16 / 9;
}
.elementor-9615
  .elementor-element.elementor-element-ee6c4a0:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-9615
  .elementor-element.elementor-element-ee6c4a0
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #E85C0D;
}
.elementor-9615
  .elementor-element.elementor-element-ee6c4a0
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-9615
  .elementor-element.elementor-element-ee6c4a0
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9615
  .elementor-element.elementor-element-5c3111b
  .elementor-wrapper {
  aspect-ratio: 16 / 9;
}
.elementor-9615
  .elementor-element.elementor-element-c8ca83c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-9615
  .elementor-element.elementor-element-c8ca83c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../../2024-2015/Home/images/Apartments/3-AduraAurora.jpg");
  background-position: 0px -480px;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-9615
  .elementor-element.elementor-element-c8ca83c
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9615 .elementor-element.elementor-element-c8ca83c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}
.elementor-9615
  .elementor-element.elementor-element-9056783:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-9615
  .elementor-element.elementor-element-9056783
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #eeeff100;
}
.elementor-9615
  .elementor-element.elementor-element-9056783
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9615 .elementor-element.elementor-element-9056783 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 50px 0px;
}
.elementor-9615 .elementor-element.elementor-element-2520685 .elementor-button {
  fill: #ffffff;
  color: #ffffff;
  background-color: #61ce7000;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 100px 100px 100px 100px;
}
.elementor-9615
  .elementor-element.elementor-element-2520685
  .elementor-button:hover,
.elementor-9615
  .elementor-element.elementor-element-2520685
  .elementor-button:focus {
  color: #000;
  background-color: #E85C0D;
  border-color: #E85C0D;
}
.elementor-9615
  .elementor-element.elementor-element-2520685
  .elementor-button:hover
  svg,
.elementor-9615
  .elementor-element.elementor-element-2520685
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-9615 .elementor-element.elementor-element-645d194 .elementor-button {
  fill: #ffffff;
  color: #ffffff;
  background-color: #61ce7000;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 100px 100px 100px 100px;
}
.elementor-9615
  .elementor-element.elementor-element-645d194
  .elementor-button:hover,
.elementor-9615
  .elementor-element.elementor-element-645d194
  .elementor-button:focus {
  color: #000;
  background-color: #E85C0D;
  border-color: #E85C0D;
}
.elementor-9615
  .elementor-element.elementor-element-645d194
  .elementor-button:hover
  svg,
.elementor-9615
  .elementor-element.elementor-element-645d194
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
:root {
  --page-title-display: none;
}
@media (min-width: 768px) {
  .elementor-9615 .elementor-element.elementor-element-6803769 {
    width: 67.719%;
  }
  .elementor-9615 .elementor-element.elementor-element-bf78b46 {
    width: 32.195%;
  }
}
@media (max-width: 1024px) {
  .elementor-9615
    .elementor-element.elementor-element-aaa132d:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-9615
    .elementor-element.elementor-element-aaa132d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px 0px;
  }
  .elementor-9615
    .elementor-element.elementor-element-c8ca83c:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-9615
    .elementor-element.elementor-element-c8ca83c
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-9615
    .elementor-element.elementor-element-aaa132d:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-9615
    .elementor-element.elementor-element-aaa132d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px 0px;
  }
  .elementor-9615 .elementor-element.elementor-element-aaa132d {
    padding: 40px 10px 40px 10px;
  }
  .elementor-9615
    .elementor-element.elementor-element-c8ca83c:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-9615
    .elementor-element.elementor-element-c8ca83c
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px 0px;
  }
}
@media (min-width: 1025px) {
  .elementor-9615
    .elementor-element.elementor-element-aaa132d:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-9615
    .elementor-element.elementor-element-aaa132d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
}
