.elementor-7519
  .elementor-element.elementor-element-aaa132d
  > .elementor-container {
  min-height: 400px;
}
.elementor-7519
  .elementor-element.elementor-element-aaa132d
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-7519
  .elementor-element.elementor-element-aaa132d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7519
  .elementor-element.elementor-element-aaa132d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #E85C0D;
  background-image: url("../../../../2024-2015/Home/images/Apartments/2-ADURAARULAGAM.jpg");
  background-position: 0px -298px;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-7519
  .elementor-element.elementor-element-aaa132d
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7519 .elementor-element.elementor-element-aaa132d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-7519
  .elementor-element.elementor-element-08bc75d
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-7519 .elementor-element.elementor-element-08bc75d {
  margin-top: 70px;
  margin-bottom: 0px;
}
.elementor-bc-flex-widget
  .elementor-7519
  .elementor-element.elementor-element-6803769.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-7519
  .elementor-element.elementor-element-6803769.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-7519
  .elementor-element.elementor-element-f17705e
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-7519
  .elementor-element.elementor-element-f17705e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7519
  .elementor-element.elementor-element-f17705e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #edf9ff;
}
.elementor-7519 .elementor-element.elementor-element-f17705e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-7519
  .elementor-element.elementor-element-f17705e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-7519
  .elementor-element.elementor-element-ab8e286.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-7519
  .elementor-element.elementor-element-ab8e286.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-7519
  .elementor-element.elementor-element-ab8e286
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-7519
  .elementor-element.elementor-element-ff05134
  .elementor-heading-title {
  color: #000;
  font-family: "Poppins", Sans-serif;
  font-size: 57px;
  font-weight: 600;
}
.elementor-7519
  .elementor-element.elementor-element-ff05134
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-7519
  .elementor-element.elementor-element-a41b29e
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 50px;
}
.elementor-7519
  .elementor-element.elementor-element-a41b29e
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 50px 50px 50px 50px;
}
.elementor-7519 .elementor-element.elementor-element-4cf2da2 {
  text-align: justify;
  color: #000;
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-7519
  .elementor-element.elementor-element-feec3e6:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7519
  .elementor-element.elementor-element-feec3e6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-7519 .elementor-element.elementor-element-feec3e6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 50px 50px 50px 50px;
}
.elementor-7519
  .elementor-element.elementor-element-feec3e6
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7519
  .elementor-element.elementor-element-bbf47a9
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-7519
  .elementor-element.elementor-element-bbf47a9
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-7519 .elementor-element.elementor-element-8fa4fce {
  --image-transition-duration: 800ms;
  --overlay-transition-duration: 800ms;
  --content-text-align: center;
  --content-padding: 20px;
  --content-transition-duration: 800ms;
  --content-transition-delay: 800ms;
}
.elementor-7519
  .elementor-element.elementor-element-8fa4fce
  .e-gallery-item:hover
  .elementor-gallery-item__overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.elementor-7519
  .elementor-element.elementor-element-c8ca83c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7519
  .elementor-element.elementor-element-c8ca83c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../../2024-2015/Home/images/Apartments/6-Adura-Regent.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-7519
  .elementor-element.elementor-element-c8ca83c
  > .elementor-background-overlay {
  background-color: #082e5c;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7519 .elementor-element.elementor-element-c8ca83c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}
.elementor-7519
  .elementor-element.elementor-element-9056783:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7519
  .elementor-element.elementor-element-9056783
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #eeeff100;
}
.elementor-7519
  .elementor-element.elementor-element-9056783
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7519 .elementor-element.elementor-element-9056783 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 50px 0px;
}
.elementor-7519 .elementor-element.elementor-element-2520685 .elementor-button {
  fill: #ffffff;
  color: #ffffff;
  background-color: #61ce7000;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 100px 100px 100px 100px;
}
.elementor-7519
  .elementor-element.elementor-element-2520685
  .elementor-button:hover,
.elementor-7519
  .elementor-element.elementor-element-2520685
  .elementor-button:focus {
  color: #000;
  background-color: #E85C0D;
  border-color: #E85C0D;
}
.elementor-7519
  .elementor-element.elementor-element-2520685
  .elementor-button:hover
  svg,
.elementor-7519
  .elementor-element.elementor-element-2520685
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-7519 .elementor-element.elementor-element-645d194 .elementor-button {
  fill: #ffffff;
  color: #ffffff;
  background-color: #61ce7000;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 100px 100px 100px 100px;
}
.elementor-7519
  .elementor-element.elementor-element-645d194
  .elementor-button:hover,
.elementor-7519
  .elementor-element.elementor-element-645d194
  .elementor-button:focus {
  color: #000;
  background-color: #E85C0D;
  border-color: #E85C0D;
}
.elementor-7519
  .elementor-element.elementor-element-645d194
  .elementor-button:hover
  svg,
.elementor-7519
  .elementor-element.elementor-element-645d194
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
:root {
  --page-title-display: none;
}
@media (min-width: 1025px) {
  .elementor-7519
    .elementor-element.elementor-element-aaa132d:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-7519
    .elementor-element.elementor-element-aaa132d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
}
@media (max-width: 1024px) {
  .elementor-7519
    .elementor-element.elementor-element-aaa132d:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-7519
    .elementor-element.elementor-element-aaa132d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-7519
    .elementor-element.elementor-element-aaa132d:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-7519
    .elementor-element.elementor-element-aaa132d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px 0px;
  }
  .elementor-7519 .elementor-element.elementor-element-aaa132d {
    padding: 40px 10px 40px 10px;
  }
  .elementor-7519 .elementor-element.elementor-element-f17705e {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .elementor-7519
    .elementor-element.elementor-element-ab8e286
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-7519
    .elementor-element.elementor-element-ff05134
    .elementor-heading-title {
    font-size: 32px;
    line-height: 38px;
  }
  .elementor-7519
    .elementor-element.elementor-element-a41b29e
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-7519 .elementor-element.elementor-element-feec3e6 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-7519
    .elementor-element.elementor-element-bbf47a9
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
}
