.elementor-7555
  .elementor-element.elementor-element-aaa132d
  > .elementor-container {
  min-height: 400px;
}
.elementor-7555
  .elementor-element.elementor-element-aaa132d
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-7555
  .elementor-element.elementor-element-aaa132d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7555
  .elementor-element.elementor-element-aaa132d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #E85C0D;
  background-image: url("../../../../2024-2015/Home/images/Apartments/2-ADURAARULAGAM.jpg");
  background-position: 0px -298px;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-7555
  .elementor-element.elementor-element-aaa132d
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7555 .elementor-element.elementor-element-aaa132d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-7555
  .elementor-element.elementor-element-08bc75d
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-7555 .elementor-element.elementor-element-08bc75d {
  margin-top: 70px;
  margin-bottom: 0px;
}
.elementor-bc-flex-widget
  .elementor-7555
  .elementor-element.elementor-element-6803769.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-7555
  .elementor-element.elementor-element-6803769.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-7555
  .elementor-element.elementor-element-8e05556
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.elementor-7555
  .elementor-element.elementor-element-8e05556
  > .elementor-widget-container {
  padding: 5px 5px 5px 5px;
}
.elementor-7555 .elementor-element.elementor-element-1635d34 {
  padding: 50px 0px 50px 0px;
}
.elementor-7555 .elementor-element.elementor-element-2dff917 .ue_post_blocks {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}
.elementor-7555
  .elementor-element.elementor-element-2dff917
  .ue_post_blocks_box {
  text-align: left;
  border-radius: 20px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #dfdfdf;
  background-color: #ffffff;
}
.elementor-7555
  .elementor-element.elementor-element-2dff917
  .ue_post_blocks_content {
  padding: 20px 20px 20px 20px;
}
.elementor-7555
  .elementor-element.elementor-element-2dff917
  .ue_post_blocks_image
  img {
  height: 198px;
}
.elementor-7555
  .elementor-element.elementor-element-2dff917
  .ue-grid-item-category
  a {
  background-color: #00bcff;
  color: #ffffff;
  padding: 2px 10px 2px 10px;
  border-radius: 5px 5px 5px 5px;
}
.elementor-7555
  .elementor-element.elementor-element-2dff917
  .ue_post_blocks_title
  a {
  color: #000000;
}
.elementor-7555
  .elementor-element.elementor-element-2dff917
  .ue_post_blocks_title
  a:hover {
  color: #000000;
}
.elementor-7555
  .elementor-element.elementor-element-2dff917
  .ue_post_blocks_title {
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0px;
}
.elementor-7555
  .elementor-element.elementor-element-2dff917
  .ue-grid-item-meta-data {
  color: #707070;
  margin-top: 10px;
  gap: 10px;
}
.elementor-7555
  .elementor-element.elementor-element-2dff917
  .ue-grid-item-meta-data
  svg {
  fill: #707070;
}
.elementor-7555
  .elementor-element.elementor-element-2dff917
  .ue_post_blocks_text {
  color: #969696;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  margin-top: 13px;
}
.elementor-7555
  .elementor-element.elementor-element-2dff917
  .ue_post_blocks_link
  a {
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  background-color: #000000;
  color: #ffffff;
  margin-top: 20px;
}
.elementor-7555
  .elementor-element.elementor-element-2dff917
  .ue_post_blocks_link
  a:hover {
  background-color: #000000;
  color: #ffffff;
}
.elementor-7555
  .elementor-element.elementor-element-c8ca83c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7555
  .elementor-element.elementor-element-c8ca83c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../../2024-2015/Home/images/Apartments/4-Adura-vivid.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-7555
  .elementor-element.elementor-element-c8ca83c
  > .elementor-background-overlay {
  background-color: #082e5c;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7555 .elementor-element.elementor-element-c8ca83c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}
.elementor-7555
  .elementor-element.elementor-element-9056783:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7555
  .elementor-element.elementor-element-9056783
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #eeeff100;
}
.elementor-7555
  .elementor-element.elementor-element-9056783
  > .elementor-background-overlay {
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7555 .elementor-element.elementor-element-9056783 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 50px 0px;
}
.elementor-7555 .elementor-element.elementor-element-2520685 .elementor-button {
  fill: #ffffff;
  color: #ffffff;
  background-color: #61ce7000;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 100px 100px 100px 100px;
}
.elementor-7555
  .elementor-element.elementor-element-2520685
  .elementor-button:hover,
.elementor-7555
  .elementor-element.elementor-element-2520685
  .elementor-button:focus {
  color: #000;
  background-color: #E85C0D;
  border-color: #E85C0D;
}
.elementor-7555
  .elementor-element.elementor-element-2520685
  .elementor-button:hover
  svg,
.elementor-7555
  .elementor-element.elementor-element-2520685
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-7555 .elementor-element.elementor-element-645d194 .elementor-button {
  fill: #ffffff;
  color: #ffffff;
  background-color: #61ce7000;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 100px 100px 100px 100px;
}
.elementor-7555
  .elementor-element.elementor-element-645d194
  .elementor-button:hover,
.elementor-7555
  .elementor-element.elementor-element-645d194
  .elementor-button:focus {
  color: #000;
  background-color: #E85C0D;
  border-color: #E85C0D;
}
.elementor-7555
  .elementor-element.elementor-element-645d194
  .elementor-button:hover
  svg,
.elementor-7555
  .elementor-element.elementor-element-645d194
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
:root {
  --page-title-display: none;
}
@media (min-width: 1025px) {
  .elementor-7555
    .elementor-element.elementor-element-aaa132d:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-7555
    .elementor-element.elementor-element-aaa132d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: scroll;
  }
}
@media (max-width: 1024px) {
  .elementor-7555
    .elementor-element.elementor-element-aaa132d:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-7555
    .elementor-element.elementor-element-aaa132d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px 0px;
  }
  .elementor-7555 .elementor-element.elementor-element-2dff917 .ue_post_blocks {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .elementor-7555
    .elementor-element.elementor-element-aaa132d:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-7555
    .elementor-element.elementor-element-aaa132d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-position: 0px 0px;
  }
  .elementor-7555 .elementor-element.elementor-element-aaa132d {
    padding: 40px 10px 40px 10px;
  }
  .elementor-7555 .elementor-element.elementor-element-2dff917 .ue_post_blocks {
    grid-template-columns: repeat(1, 1fr);
  }
} /* Start custom CSS for ucaddon_post_blocks, class: .elementor-element-2dff917 */
.elementor-4364
  .elementor-element.elementor-element-d55feb2
  .ue_post_blocks_text {
  color: #000;
  margin-top: 10px;
  text-align: justify;
  font-size: 15px;
}
.elementor-4364
  .elementor-element.elementor-element-d55feb2
  .ue_post_blocks_link
  a {
  background-color: #E85C0D;
}
.elementor-4364
  .elementor-element.elementor-element-d55feb2
  .ue_post_blocks_title
  a {
  color: #000;
} /* End custom CSS */
